.pokemon__list {
    list-style: none;
    margin-left: 120px;
    margin-right: 120px;
    padding: 90px;
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.cardLi {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(222, 237, 241);
}